@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Outfit&display=swap');
body {
	padding: 0;
	margin: 0;
}

.navbar {
  background: whitesmoke;
  font-family: 'Outfit', sans-serif;
  padding: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
  color: black !important;
}

.nav-link {
  font-size: 1.1rem;
}

.navbar-nav li {
  padding-left: 15px;
  padding-right: 15px;
}

nav .navbar-nav li a{

}

.table_container {
	padding: 1.5rem;
}

table, th, td {
	margin: 0px !important;
	 border-collapse: collapse;
  font-family: 'Inconsolata', monospace;
}

img{ 
  display: block; 
  margin: 0vw; 
  width: 10vw; !important; 
  height: 10vw !important;
}

 .modal {
    font-family: 'Inconsolata', monospace ;
}

@media screen and (max-width: 720px) {
  .table{
    display: block;
    overflow-x: auto !important;
    width: 100% !important;
  }
}

